In [1]:
print("Hello")

Hello

In [2]:
print(1+1)

2

In [5]:
import pandas as pd
pd.DataFrame({'ID':[20190103, 20190222, 20190531],
                             'name':['Kim', 'Lee', 'Jeong'],
                             'class':['H', 'W', 'S']})

         ID   name class
0  20190103    Kim     H
1  20190222    Lee     W
2  20190531  Jeong     S