In [1]:
# 데이터 프레임을 만들어 봅시다.
import pandas as pd

In [45]:
pd.DataFrame({'A' :[80, 90, 100], 'B' : [70, 80, 90]}, index=['국어','영어', '수학']).T

   국어  영어   수학
A  80  90  100
B  70  80   90

In [46]:
pd.DataFrame({'국어':[80, 70], '영어':[90, 80], '수학':[100, 90]}, index=['A','B'])
pd.DataFrame(data={'국어': [80, 70], '영어': [90, 80], '수학':[100, 90]}, index = ['A', 'B'])

   국어  영어   수학
A  80  90  100
B  70  80   90

In [47]:
df =pd.DataFrame({'국어':[80, 70], '영어':[90, 80], '수학':[100, 90]}, index=['A','B'])
df['과학']=[90, 90]

In [48]:
df

   국어  영어   수학  과학
A  80  90  100  90
B  70  80   90  90

In [49]:
df.assign(과학 = [90, 90])

   국어  영어   수학  과학
A  80  90  100  90
B  70  80   90  90

In [50]:
df.drop(columns='수학', inplace=True)

In [51]:
df['총점'] =df['국어']+df['영어']+df['과학']

In [52]:
df

   국어  영어  과학   총점
A  80  90  90  260
B  70  80  90  240

In [53]:
df.loc['C'] =[70,80,90,240]
df

   국어  영어  과학   총점
A  80  90  90  260
B  70  80  90  240
C  70  80  90  240

In [54]:
import numpy as np
df['총점'].replace({ 260: None} , inplace=True)
df['총점'].replace(260, np.nan, inplace=True)

In [55]:
df['총점'].replace(np.nan, 260, inplace=True)

In [60]:
df.rename({'총점': 'total'}, axis=1)

   국어  영어  과학  total
A  80  90  90    260
B  70  80  90    240
C  70  80  90    240

In [63]:
df['학점'] = np.where(df['총점']/3 >=85 ,'A+', 'A-' )
df

   국어  영어  과학   총점  학점
A  80  90  90  260  A+
B  70  80  90  240  A-
C  70  80  90  240  A-

In [64]:
df['학점'] = np.where(df['총점']>=250 ,'A+', 'A-' )

In [65]:
df['평균'] = round(df['총점'] /3)
df['학점'] = np.where(df['평균'] >= 85, 'A+', 'A-')

In [71]:
df.sort_values(by=['총점', '국어'])

   국어  영어  과학   총점  학점    평균
B  70  80  90  240  A-  80.0
C  70  80  90  240  A-  80.0
A  80  90  90  260  A+  87.0

In [72]:
import pydataset
mpg =pydataset.data('mpg')
mpg[:2]

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact

In [76]:
pd.unique(mpg['year'])
mpg['year'].unique() 
?mpg.year

Type:        Series
String form:
1      1999
2      1999
3      2008
4      2008
5      1999
       ...
230    2008
231    2008
232    1999
233    1999
234    2008
Name: year, Length: 234, dtype: int64
Length:      234
File:        c:\users\admin\anaconda3\lib\site-packages\pandas\core\series.py
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.

In [77]:
df= mpg.copy()

In [79]:
df.groupby('year')[['cty']].mean()

            cty
year
1999  17.017094
2008  16.700855

In [80]:
df[df['manufacturer'] == 'audi'].groupby('year')['cty'].agg(np.mean)

year
1999    17.111111
2008    18.111111
Name: cty, dtype: float64

# 코랩사용

In [ ]:
import gdown # 구글 드라이브는 파일이 크면 시간이 오래걸림 ,그래서 이걸 사용 큰 파일 받는 데 용이
#

In [ ]:
url = "https://drive.google.com/uc?id=1ipzN9okFFT3oieklsrfr6iUHzjPAbT9i" # 다른 사람 폴더 파일 가져옴
gdown.download(url, "cats_and_dogs.tar")  # 압축된 상태

In [ ]:
ls # 현재 위치

In [ ]:
ll # ls 보기

In [ ]:
ls-al # d는 디렉토리  r리드 w 일기 x 실행권한 다있으면 rwx/ root는 소유자  파일리스트 확인

In [ ]:
!tar -xvf cats_and_dogs.tar # 컨트롤 스페이스 자동완성 압축풀기  시스템 명령
# 유닉스 명령어 ! 를 넣어야 함

In [ ]:
ls

In [ ]:
# 접근
cd cats_and_dogs

In [ ]:
ls test/cats #test파일내 사진 보기

In [ ]:
# 주석 나오기 
cd ..

In [ ]:
# 현재 폴더
ls

In [ ]:
from google.colab import drive # 구글 드라이브에 연결 
drive.mount('/content/drive') # 내꺼 구글 드라이브에서 데이터를 가져옴

In [ ]:
train_dir = './cats_and_dogs/train'
validation_dir = './cats_and_dogs/validation'
test_dir = './cats_and_dogs/test'

In [ ]:
import os
# 훈련용 고양이 사진 디렉터리
train_cats_dir = os.path.join(train_dir, 'cats')

# 훈련용 강아지 사진 디렉터리
train_dogs_dir = os.path.join(train_dir, 'dogs')

# 검증용 고양이 사진 디렉터리
validation_cats_dir = os.path.join(validation_dir, 'cats')

# 검증용 강아지 사진 디렉터리
validation_dogs_dir = os.path.join(validation_dir, 'dogs')

# 테스트용 고양이 사진 디렉터리
test_cats_dir = os.path.join(test_dir, 'cats')

# 테스트용 강아지 사진 디렉터리
test_dogs_dir = os.path.join(test_dir, 'dogs')

In [ ]:
import keras
import scipy


from keras.preprocessing.image import ImageDataGenerator

# 모든 이미지를 1/255 부동소수점으로 스케일을 조정하는 제너레이터 객체를 만들자.
train_datagen = ImageDataGenerator(rescale=1./255)  # 옛날 책 
validation_datagen = ImageDataGenerator(rescale=1./255)
test_datagen = ImageDataGenerator(rescale=1./255)

train_generator = train_datagen.flow_from_directory(       
        train_dir,                # 타깃 디렉터리
        target_size=(150, 150),  # 모든 이미지를 150 × 150 크기로 바꿉니다
        batch_size=20,           #  20개씩 배치로 생산        
        class_mode='binary')     # 이진 레이블. 만약 다중클래스라면 'categorical'

validation_generator = validation_datagen.flow_from_directory(
        validation_dir,
        target_size=(150, 150),
        batch_size=20,
        class_mode='binary')

test_generator = test_datagen.flow_from_directory(
        test_dir,
        target_size=(150, 150),
        batch_size=20,
        class_mode='binary')
# 아래에 tranin images가 2000개 임을 보아 두어라. 
# 증식해도 2000개가 된다. 나중에 제너레이터 하는 순간에 변형하는 듯

In [ ]:
from keras import layers
from keras import models


model = models.Sequential()
#layers.Conv2D
#layers.MaxPool2D

model.add(layers.Conv2D(filters=32, kernel_size= (3,3), activation="relu", input_shape=(150, 150, 3)))
model.add(layers.MaxPool2D(pool_size=(2,2)))

model.add(layers.Conv2D(filters=64, kernel_size= (3,3), activation="relu"))
model.add(layers.MaxPool2D(pool_size=(2,2)))

model.add(layers.Conv2D(filters=128, kernel_size= (3,3), activation="relu"))
model.add(layers.MaxPool2D(pool_size=(2,2)))

model.add(layers.Conv2D(filters=128, kernel_size= (3,3), activation="relu"))
model.add(layers.MaxPool2D(pool_size=(2,2)))




model.add(layers.Flatten())
model.add(layers.Dense(units=512, activation= 'relu' ))
model.add(layers.Dense(units=1, activation= 'sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy',  # 이진이므로 loss는 binary_crossentropy
              optimizer='RMSprop',
              metrics=['accuracy'])

model.fit(train_generator, 
      steps_per_epoch=100, # train의 모든 이미지수는 2,000(고양이 1,000, 강아지 1,000)이고 배치가 20이므로 steps_per_epoch=100이어야 한다.
      epochs=5)
# https://tykimos.github.io/2017/03/08/CNN_Getting_Started/참고

In [ ]:
model.evaluate(test_generator)

In [ ]:
model.summary()

# 세가지 주요 컴퓨터 비전 작업

In [92]:
# !  cmd 창으로 보냄 
!wget http://www.robots.ox.ac.uk/~vgg/data/pets/data/images.tar.gz
!wget http://www.robots.ox.ac.uk/~vgg/data/pets/data/annotations.tar.gz
!tar -xvf images.tar.gz
!tar -xvf annotations.tar.gz

'wget'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.
'wget'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.
tar: Error opening archive: Failed to open 'images.tar.gz'
tar: Error opening archive: Failed to open 'annotations.tar.gz'

In [ ]:
import os

input_dir = "images/"
target_dir = "annotations/trimaps/"

input_img_paths = sorted(
    [os.path.join(input_dir, fname)
     for fname in os.listdir(input_dir)
     if fname.endswith(".jpg")]) # jpg로 끝나는 것만 
target_paths = sorted(
    [os.path.join(target_dir, fname)
     for fname in os.listdir(target_dir)
     if fname.endswith(".png") and not fname.startswith(".")])

In [ ]:
import matplotlib.pyplot as plt
from tensorflow.keras.utils import load_img, img_to_array
plt.axis("off")
plt.imshow(load_img(input_img_paths[9]))

In [ ]:
def display_target(target_array):
  normalized_array =(target_array -1)*127
  plt.axis("off")
  plt.imshow(normalized_array[:, :, 0])

img =img_to_array(load_img(target_paths[9], color_mode="grayscale"))
display_target(img)

In [ ]:
def display_target(target_array):
  normalized_array =(target_array.astype("uint8") -1)*127# uint 데이터 크기 줄임 
  plt.axis("off")
  plt.imshow(normalized_array[:, :, 0])

img =img_to_array(load_img(target_paths[9], color_mode="grayscale"))
display_target(img)

In [ ]:
img_to_array(load_img(target_paths[9], color_mode="grayscale"))

In [ ]:
import numpy as np
import random

img_size = (200, 200)
num_imgs = len(input_img_paths)

random.Random(1337).shuffle(input_img_paths)
random.Random(1337).shuffle(target_paths)

def path_to_input_image(path):
    return img_to_array(load_img(path, target_size=img_size))

def path_to_target(path):
    img = img_to_array(
        load_img(path, target_size=img_size, color_mode="grayscale"))
    img = img.astype("uint8") - 1
    return img

input_imgs = np.zeros((num_imgs,) + img_size + (3,), dtype="float32")
targets = np.zeros((num_imgs,) + img_size + (1,), dtype="uint8")
for i in range(num_imgs):
    input_imgs[i] = path_to_input_image(input_img_paths[i])
    targets[i] = path_to_target(target_paths[i])

num_val_samples = 1000
train_input_imgs = input_imgs[:-num_val_samples]
train_targets = targets[:-num_val_samples]
val_input_imgs = input_imgs[-num_val_samples:]
val_targets = targets[-num_val_samples:]

In [ ]:
(200,200)+(3,)

In [ ]:
from tensorflow import keras
from tensorflow.keras import layers

def get_model(img_size, num_classes):
    inputs = keras.Input(shape=img_size + (3,)) # 차원을 추가 200, 200, 3으로 됨
    x = layers.Rescaling(1./255)(inputs)

    x = layers.Conv2D(64, 3, strides=2, activation="relu", padding="same")(x) # stride2에 의해 크기가 반으로 줄임 same있어도 반
    x = layers.Conv2D(64, 3, activation="relu", padding="same")(x) # 필터는 64개
    x = layers.Conv2D(128, 3, strides=2, activation="relu", padding="same")(x) # 필터 128개
    x = layers.Conv2D(128, 3, activation="relu", padding="same")(x)
    x = layers.Conv2D(256, 3, strides=2, padding="same", activation="relu")(x)
    x = layers.Conv2D(256, 3, activation="relu", padding="same")(x)

    x = layers.Conv2DTranspose(256, 3, activation="relu", padding="same")(x)  # same 주변을 0으로 감싼다..
    x = layers.Conv2DTranspose(256, 3, activation="relu", padding="same", strides=2)(x)# transpose 역방향으로감 
    x = layers.Conv2DTranspose(128, 3, activation="relu", padding="same")(x)
    x = layers.Conv2DTranspose(128, 3, activation="relu", padding="same", strides=2)(x)
    x = layers.Conv2DTranspose(64, 3, activation="relu", padding="same")(x)
    x = layers.Conv2DTranspose(64, 3, activation="relu", padding="same", strides=2)(x) # 처음과 같음 200, 200, 3

    outputs = layers.Conv2D(num_classes, 3, activation="softmax", padding="same")(x) #뒤에 3은  전경 배경 윤곽/ 앞에 3은  여기서는 마스크(필터)가 1개니까 1이여야함... 그러나 앞에 RGB니까 3..

    model = keras.Model(inputs, outputs)
    return model

model = get_model(img_size=img_size, num_classes=3)
model.summary()

In [ ]:
model.compile(optimizer="rmsprop", loss="sparse_categorical_crossentropy")

callbacks = [
    keras.callbacks.ModelCheckpoint("oxford_segmentation.keras",
                                    save_best_only=True)
]

history = model.fit(train_input_imgs, train_targets,
                    epochs=50,
                    callbacks=callbacks,
                    batch_size=64,
                    validation_data=(val_input_imgs, val_targets))