# 정리

In [ ]:
num = [1,6,99,3,28,8,9,12,56,17,284]

list(filter(lambda a: a%2==0, num)) #a%2==0인걸 필터해라 lambda에서
if __name__=="__main__": 은 해당 모듈에서만 실행 
import 당했을 때 실행하지 않기 위해 사용 
__name__ 이라는 변수값이 __main__ 이라면 실행? 
class Clothes:
    def __init__(self,color,fit):
        self.color = color
        self.fit = fit
        
    def target(self,age, gender):
        if age <= 5:
            self.age = "baby"
        elif age <= 13:
            self.age = 'kids'
        elif gender == 'female':
             self.gender = 'women'
        elif gender == 'men':
             self.gender = 'men' 
                
class Clothes :
    def __init__(self, color, fit) :
        self.color = color
        self.fit= fit
    def target(self, age, gender) :
        self.age = age
        self.gender = gender
        result = ""
        if age <= 5 :
            result = "baby"
        elif 5 < age <= 13 :
            result = "kids"
        elif 14 <= age :
            if gender == "female" :
                result = "women"
            elif gender == "male" :
                result == "men"
        return result 
    
a = Clothes("green", "fat")
a.target(22, "female")

class Clothes2(Clothes):
    def __init__(self,color,fit,season): # 부모변수 + 추가변수
        super().__init__(color,fit)# 부모변수
        self.season = season 
        
hex(234) #16진수로 바꿔줌 
16진수: 1   1 - 한묶음에는 16개
16진수 : 1  1  10진수로 17개 
16진수 : f   f  15*16+15 =255
16진수 2  a = 2*16 + 10=42

map(함수, iterable순환 가능한)
map은 하나하나 터치해주는 
1대1 대응
for i in 순환가능한 
대표적으로 list가 있음 
pow(2,4) # 2의 4제곱

list(zip([1, 2, 3], [4, 5, 6]))
    
for i in zip([1, 2, 3], [4, 5, 6], ['a', 'b', 'c']):
    print(i)        \
df=pd.read_excel("서울지역대학교위치.xlsx")
df
import pickle
with open("test.pickle", "wb") as f: # 객체의 형태를 그대로 유지하면소 
    pickle.dump(df, f) #파일에 저장하고 불러옴 dump는 파일 저장 
    
import calendar   

data=[1,3,2]
random.shuffle(data)
data

import time

def long_task():
    for i in range(5):
        time.sleep(1)
        print("working: %s" %i) # %s 문자열 안에 변수 넣어줄떄 옆에 변수이름 씀  
print("start") # 문자열 변수 %s자리에 변수인 %i가 들어감  

import threading
def long_task():
    for i in range(5):
        time.sleep(1)
        print("working: %s" %i)
print("start")        

threads = [] 
for i in range(5):
    t = threading.Thread(target = long_task) # 스레드 생성한다.
    threads.append(t)
    
for t in threads:
    t.start() #스레드 실행한다. 
for t in threads:
    t.join() # 스레드 기다린다. 
    
print("End") 


def getTotalPage(m,n):
     if m % n == 0:
        return m // n # 나머지가 0일때는  몫을 그대로 써줌 
     else:
        return m // n + 1 # 나머지가 0이 아니면 몫에다 1을 더해야함 15페이지를 10으로
    #나누면 몫은 1이니 +1 을 더함
    
import sys
import glob
import os

with open('memo.txt',sys.argv[1][1]) as f:
     f.write(sys.argv[2]+'\n')     
f = open('memo.py', 'w') 처음에 빈파일을 만든다.
f.close()



import sys

option = sys.argv[1]
#memo = sys.argv[2]

if option == '-a':
    memo = sys.argv[2]
    f =open('memo.txt', 'a', encoding = 'utf-8')
    f.write(memo)
    f.write('\n')
    f.close()
    
#python memo.py -a "Life is too short" 옵셥 a는 텍스트 파일을 만들어 준다. 
#python memo.py -a "You need python"  
#argv0은 memo.py이고 argv1은 -a이고 argv2는 라이프~이다. 

elif option == '-v': # 옵션 v는 파일을 읽어준다. 
    f =open('memo.txt', 'r', encoding = 'utf-8')
    memo=f.readlines()
    print(memo)  
    f.close()
    
#print(option)
#print(memo)

In [1]:
내장함수란 무엇인가?
내장함수 개수는?

Object `무엇인가` not found.
Object `개수는` not found.

In [3]:
dir(__builtin__). # 내장함수 갯수

SyntaxError: invalid syntax (2423291822.py, line 1)

In [9]:
a= ['a','b','c']
for i in enumerate(a):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')

In [10]:
a = ['a', 'b', 'c']
for i, j in enumerate(a):
    print(i+1, j)

1 a
2 b
3 c

In [11]:
a=['a','b','c']
c = dict()
for i,j in enumerate(a):
    c[j] = i + 1
print(c)

{'a': 1, 'b': 2, 'c': 3}

In [12]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age =age
        
class Korean(Person):        
     def__init__(self, name, age):

NameError: name 'def__init__' is not defined

In [26]:
num = [1,6,99,3,28,8,9,12,56,17,284]

list(filter(lambda a: a%2==0, num)) #a%2==0인걸 필터해라 lambda에서

[6, 28, 8, 12, 56, 284]

In [1]:
a= [1, -2, 3, 5, 8, -3]
list(filter(lambda a: a<0, a))

[-2, -3]

In [15]:
num = [1,6,99,3,28,8,9,12,56,17,284] 

def even(i):
    if i % 2 == 0:
        return i
    
print(list(filter(even, num)))

[6, 28, 8, 12, 56, 284]

In [16]:
클래스에 쓸 수 있는 변수 클래스 변수 지역변수 전역변수

SyntaxError: invalid syntax (3134626668.py, line 1)

In [17]:
if __name__=="__main__": 은 해당 모듈에서만 실행 
import 당했을 때 실행하지 않기 위해 사용 
__name__ 이라는 변수값이 __main__ 이라면 실행?

SyntaxError: invalid syntax (1998269624.py, line 1)

In [24]:
try:
    4/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [26]:
import sys
sys.path.append("C:\\Users\\admin\\abc\\a")

In [18]:
class Clothes:
    def __init__(self,color,fit):
        self.color = color
        self.fit = fit
        
    def target(self,age, gender):
        if age <= 5:
            self.age = "baby"
        elif age <= 13:
            self.age = 'kids'
        elif gender == 'female':
             self.gender = 'women'
        elif gender == 'men':
             self.gender = 'men'

In [19]:
a = Clothes("green", "fat")

In [20]:
a.target(22, 'female')

In [21]:
a.target(2, 'man')

In [22]:
class Clothes :
    def __init__(self, color, fit) :
        self.color = color
        self.fit= fit
    def target(self, age, gender) :
        self.age = age
        self.gender = gender
        result = ""
        if age <= 5 :
            result = "baby"
        elif 5 < age <= 13 :
            result = "kids"
        elif 14 <= age :
            if gender == "female" :
                result = "women"
            elif gender == "male" :
                result == "men"
        return result

In [23]:
a = Clothes("green", "fat")

In [24]:
a.target(22, "female")

'women'

In [10]:
class Clothes:
    def __init__(self, color, fit):
        self.color = color
        self.fit= fit
        
    def target(self, age, gender):
        self.age = int(age)
        self.gender = gender
        if self.age <= 5:
            return 'baby'
        elif self.age <= 13:
            return 'kids'
        elif self.gender == 'female':
            return 'women'
        else:
            return 'man'

In [11]:
class Clothes:
    def __init__(self,color,fit):
        self.color = color
        self.fit= fit        
        
    def target(self,age,gender):
        if age <= 5:
            self.age = 'baby'
        elif age <= 13:
            self.age = 'kids'
        elif age > 13 and gender == 'female':
            self.age = 'adult'
            self.gender = 'wemen'
        else:
            self.age = 'adult'
            self.gender = 'men'

In [12]:
a = Clothes("green", "fat")

In [13]:
a.target(22, 'female')

In [48]:
class Clothes2(Clothes):
    def __init__(self, season, color, fit):
        super().__init__(color, fit)
        self.season = season

In [49]:
class Clothes2(Clothes):
    def __init__(self,color,fit,season): # 부모변수 + 추가변수
        super().__init__(color,fit)# 부모변수
        self.season = season

In [52]:
id= ['970212-1054321','010101-2054321','020202-1065432','220908-1044444']

id_male = [  ] 

id_male = list(filter(lambda a : len(a)[7]=='1', id))

id_male

TypeError: 'int' object is not subscriptable

In [14]:
id= ['970212-1054321','010101-2054321','020202-1065432','220908-1044444']

id_male = list(filter(lambda id : id[7] == '1',id)) # 각각의 abcd 가 8번째 자리에 1

id_male

['970212-1054321', '020202-1065432', '220908-1044444']

In [16]:
id= ['970212-1054321','010101-2054321','020202-1065432','220908-1044444']
id[7]

IndexError: list index out of range

In [54]:
id_male = list(filter(lambda id : int(id[7]) == 1,id))

id_male

['970212-1054321', '020202-1065432', '220908-1044444']

In [55]:
hex(234) #16진수로 바꿔줌

'0xea'

In [56]:
hex(3) #0x는 16 진수다. 16진수로 3

'0x3'

In [57]:
hex(9) #16진수로 9

'0x9'

In [58]:
hex(10) # a는 10

'0xa'

In [155]:
hex(16)

'0x10'

In [60]:
10진수 : 1 1 # 큰묶음한개는 안에 10게

SyntaxError: invalid decimal literal (1006228380.py, line 1)

In [61]:
16진수: 1   1 - 한묶음에는 16개
16진수 : 1  1  10진수로 17개 
16진수 : f   f  15*16+15 =255
16진수 2  a = 2*16 + 10=42

SyntaxError: invalid decimal literal (2743325681.py, line 1)

In [62]:
b= input("enter: ") # 한칸 띄어야 함

enter:  10

In [63]:
int('11',2)  # 2진수로 표현된 11을 10진수로 변환

3

In [64]:
int('ff', base=16)

255

In [65]:
int('0xff', base=16)

255

In [66]:
int('1111',2)

15

In [67]:
list("pyhton")

['p', 'y', 'h', 't', 'o', 'n']

In [68]:
map(함수, iterable순환 가능한)
map은 하나하나 터치해주는 
1대1 대응
for i in 순환가능한 
대표적으로 list가 있음

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1942024413.py, line 1)

In [69]:
def two_times(x):
    return x*2

In [71]:
map(two_times, [1,2,3,4]) #16진수로 표현됨

In [72]:
list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

In [73]:
list(map(two_times, ["1","2","3","4"])) # 문자열이라서 두개 써줌

['11', '22', '33', '44']

In [74]:
list(map(int, ["1","2","3","4"]))

[1, 2, 3, 4]

In [75]:
max(순회가능한) 순회가능한 자료형 입력 받아 최댓값 돌려줌

SyntaxError: invalid syntax (3043086061.py, line 1)

In [17]:
type("python")

str

In [76]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [78]:
dir("python") # iter 가 있음

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [79]:
oct(34) # 8진수 0o는 8진수 8진수는 잘 안쓰임

'0o42'

In [80]:
# 바이너리는 소리 영화 동영상 등 읽을 때

In [83]:
ord('c') 아스키 코드 ASCII 아메리칸 스탠다드 미국 표준

SyntaxError: invalid syntax (854260401.py, line 1)

In [84]:
pow(2,4) # 2의 4제곱

16

In [85]:
range(start , stop, step)# 스탑만 있어도 됨

NameError: name 'start' is not defined

In [86]:
round(3.141592, 2)

3.14

In [87]:
sorted([1,2,4])

[1, 2, 4]

In [88]:
sum([1,2,3])

6

In [89]:
sum([1,2,3], [4,5,6])

TypeError: can only concatenate list (not "int") to list

In [27]:
import numpy as np
np.sum(np.array([1,2,3], [4,5,6]))

TypeError: Field elements must be 2- or 3-tuples, got '4'

In [34]:
import numpy as np
np.array([1,2,3], [4,5,6])

TypeError: Field elements must be 2- or 3-tuples, got '4'

In [20]:
import numpy as np
np.array([1, -3, 2, 0, -5, 6])
np.array([1, 2, 3], [4, 5, 6])

TypeError: Field elements must be 2- or 3-tuples, got '4'

In [98]:
zip(iterable) 
z

NameError: name 'iterable' is not defined

In [101]:
zip([1, 2, 3], [4, 5, 6]) # 인덱스 순서대로 자름

In [35]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [100]:
for i in zip([1, 2, 3], [4, 5, 6]):
    print(i)

(1, 4)
(2, 5)
(3, 6)

In [102]:
for i in zip([1, 2, 3], [4, 5, 6], ['a', 'b', 'c']):
    print(i)

(1, 4, 'a')
(2, 5, 'b')
(3, 6, 'c')

In [103]:
for i, j, k in zip([1, 2, 3], [4, 5, 6], ['a', 'b', 'c']):
    print(i, j, k)

1 4 a
2 5 b
3 6 c

In [1]:
pip install folium

Requirement already satisfied: folium in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (0.12.1.post1)
Requirement already satisfied: requests in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from folium) (1.23.2)
Requirement already satisfied: branca>=0.3.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from folium) (0.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from requests->folium) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from requests->folium) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from requests->folium) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from requests->folium) (3.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [157]:
import folium
import pandas as pd

In [160]:
pip install pandas # 위에 오류시

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#'

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [161]:
pd.read_excel("서울 대학교 위치")

FileNotFoundError: [Errno 2] No such file or directory: '서울 대학교 위치'

In [8]:
import os
os.getcwd()

'C:\\Users\\admin'

In [16]:
pip install openpyxl # 파일 읽기

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#'

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [162]:
df=pd.read_excel("서울지역대학교위치.xlsx")
df

               대학교         위도          경도
0     KAIST 서울캠퍼스   37.592573  127.046737
1            KC대학교  37.548345  126.854797
2     가톨릭대학교(성신교정)  37.585922  127.004328
3     가톨릭대학교(성의교정)  37.499623  127.006065
4         감리교신학대학교  37.567645  126.961610
5            건국대학교  37.540762  127.079343
6     경기대학교 서울캠퍼스   37.300485  127.035833
7     경희대학교 서울캠퍼스   37.596195  127.052544
8            고려대학교  37.590192  127.033184
9            광운대학교  37.619496  127.059696
10           국민대학교  37.609641  126.997697
11         덕성여자대학교  37.651199  127.016160
12           동국대학교  37.557477  127.002052
13         동덕여자대학교  37.606320  127.041808
14    명지대학교 서울캠퍼스   37.580205  126.923445
15           삼육대학교  37.642952  127.105476
16    상명대학교 서울캠퍼스   37.602638  126.955252
17           서강대학교  37.550944  126.941002
18           서경대학교  37.615095  127.013111
19       서울과학기술대학교  37.631668  127.077481
20         서울교육대학교  37.489961  127.016412
21         서울기독대학교  37.600923  126.912382
22           서울대학교  37.459882  126.951905
23         서울시립대학교  37.583866  127.058777
24         서울여자대학교  37.628113  127.090457
25         서울한영대학교  37.496541  126.851262
26          성공회대학교  37.487232  126.825320
27  성균관대학교 서울캠퍼스    37.588227  126.993606
28         성신여자대학교  37.591310  127.022131
29           세종대학교  37.550260  127.073139
30         숙명여자대학교  37.546364  126.964831
31           숭실대학교  37.496311  126.957460
32           연세대학교  37.565784  126.938572
33          육군사관학교  37.623819  127.098878
34         이화여자대학교  37.564308  126.950179
35        장로회신학대학교  37.550511  127.103458
36    중앙대학교 서울캠퍼스   37.505088  126.957101
37           총신대학교  37.488623  126.966817
38         추계예술대학교  37.562452  126.953417
39       한국방송통신대학교  37.578613  127.003291
40         한국성서대학교  37.648749  127.064320
41        한국예술종합학교  37.604997  127.056740
42        한국외국어대학교  37.597319  127.057843
43         한국체육대학교  37.519627  127.130984
44           한성대학교  37.581785  127.010369
45           한양대학교  37.557232  127.045322
46           홍익대학교  37.551464  126.925011

In [163]:
df.대학교 # 칼럼에 접근

0       KAIST 서울캠퍼스
1              KC대학교
2       가톨릭대학교(성신교정)
3       가톨릭대학교(성의교정)
4           감리교신학대학교
5              건국대학교
6       경기대학교 서울캠퍼스
7       경희대학교 서울캠퍼스
8              고려대학교
9              광운대학교
10             국민대학교
11           덕성여자대학교
12             동국대학교
13           동덕여자대학교
14      명지대학교 서울캠퍼스
15             삼육대학교
16      상명대학교 서울캠퍼스
17             서강대학교
18             서경대학교
19         서울과학기술대학교
20           서울교육대학교
21           서울기독대학교
22             서울대학교
23           서울시립대학교
24           서울여자대학교
25           서울한영대학교
26            성공회대학교
27    성균관대학교 서울캠퍼스
28           성신여자대학교
29             세종대학교
30           숙명여자대학교
31             숭실대학교
32             연세대학교
33            육군사관학교
34           이화여자대학교
35          장로회신학대학교
36      중앙대학교 서울캠퍼스
37             총신대학교
38           추계예술대학교
39         한국방송통신대학교
40           한국성서대학교
41          한국예술종합학교
42          한국외국어대학교
43           한국체육대학교
44             한성대학교
45             한양대학교
46             홍익대학교
Name: 대학교, dtype: object

In [17]:
df.위도

0     37.592573
1     37.548345
2     37.585922
3     37.499623
4     37.567645
5     37.540762
6     37.300485
7     37.596195
8     37.590192
9     37.619496
10    37.609641
11    37.651199
12    37.557477
13    37.606320
14    37.580205
15    37.642952
16    37.602638
17    37.550944
18    37.615095
19    37.631668
20    37.489961
21    37.600923
22    37.459882
23    37.583866
24    37.628113
25    37.496541
26    37.487232
27    37.588227
28    37.591310
29    37.550260
30    37.546364
31    37.496311
32    37.565784
33    37.623819
34    37.564308
35    37.550511
36    37.505088
37    37.488623
38    37.562452
39    37.578613
40    37.648749
41    37.604997
42    37.597319
43    37.519627
44    37.581785
45    37.557232
46    37.551464
Name: 위도, dtype: float64

In [18]:
for i,j,k in zip(df.대학교, df.위도, df.경도):
    print(i,j,k)

KAIST 서울캠퍼스  37.592573 127.046737
KC대학교 37.5483449 126.8547974
가톨릭대학교(성신교정) 37.5859218 127.0043275
가톨릭대학교(성의교정) 37.4996227 127.0060653
감리교신학대학교 37.5676455 126.96161
건국대학교 37.5407625 127.0793428
경기대학교 서울캠퍼스  37.30048499999999 127.035833
경희대학교 서울캠퍼스  37.5961951 127.052544
고려대학교 37.59019162 127.03318417123
광운대학교 37.6194965 127.0596958
국민대학교 37.6096409 126.997697
덕성여자대학교 37.6511988 127.0161604
동국대학교 37.5574771 127.0020518
동덕여자대학교 37.6063202 127.041808
명지대학교 서울캠퍼스  37.5802046 126.9234451
삼육대학교 37.6429515 127.1054757
상명대학교 서울캠퍼스  37.602638 126.955252
서강대학교 37.5509442 126.9410023
서경대학교 37.615095 127.0131113
서울과학기술대학교 37.6316684 127.0774813
서울교육대학교 37.4899615 127.0164124
서울기독대학교 37.6009228 126.9123818
서울대학교 37.459882 126.9519053
서울시립대학교 37.5838657 127.0587771
서울여자대학교 37.6281126 127.0904568
서울한영대학교 37.4965411 126.8512616
성공회대학교 37.4872325 126.8253202
성균관대학교 서울캠퍼스   37.588227 126.993606
성신여자대학교 37.5913103 127.0221312
세종대학교 37.5502596 127.073139
숙명여자대학교 37.5463644 126.9648311
숭실대학교 37.4963111 126.9574596
연세대학교 37.565784 126.938572
육군사관학교 37.6238188 127.0988783
이화여자대학교 37.5643079 126.9501786
장로회신학대학교 37.5505112 127.1034577
중앙대학교 서울캠퍼스  37.5050881 126.9571012
총신대학교 37.4886232 126.9668169
추계예술대학교 37.5624515 126.9534165
한국방송통신대학교 37.5786127 127.0032905
한국성서대학교 37.6487485 127.0643199
한국예술종합학교 37.6049973 127.0567397
한국외국어대학교 37.597319 127.057843
한국체육대학교 37.5196266 127.1309837
한성대학교 37.5817849 127.010369
한양대학교 37.5572321 127.0453219
홍익대학교 37.5514642 126.9250106

In [21]:
seoul_map = folium.Map(location=[37.55, 126.98], zoom_start =12)

In [20]:
folium.Map(location=[37.5802046, 126.9234451], zoom_start =12)

In [23]:
for name, lat, long in zip(df.대학교, df.위도, df.경도):
    folium.Marker([lat, long], tooltip= name).add_to(seoul_map)

In [24]:
seoul_map

- 최소 코드

In [167]:
import folium
import pandas as pd
df=pd.read_excel("서울지역대학교위치.xlsx")
seoul_map = folium.Map(location=[37.55, 126.98], zoom_start =12)

for name, lat, long in zip(df.대학교, df.위도, df.경도):
    folium.Marker([lat, long], tooltip= name).add_to(seoul_map)
seoul_map

In [25]:
sys 시스템

SyntaxError: invalid syntax (1782693444.py, line 1)

In [26]:
import sys

In [28]:
sys.path # 가로가 없는 것은 변수

['C:\\Users\\admin',
 'C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python310\\python310.zip',
 'C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python310\\DLLs',
 'C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python310\\lib',
 'C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python310',
 '',
 'C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages',
 'C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\win32',
 'C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\Pythonwin']

In [29]:
sys.path.append()

TypeError: list.append() takes exactly one argument (0 given)

In [30]:
sys.argv[1:] 뒤에 있는 것들 1부터 끝까지 
sys.py 111, aaa, bbb, ccc

SyntaxError: invalid decimal literal (128389300.py, line 1)

In [ ]:
import os

In [ ]:
os.environ

In [2]:
os.chdir()

NameError: name 'os' is not defined

In [3]:
os.system("dir")

NameError: name 'os' is not defined

In [4]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 682B-EDCF

 C:\Users\admin 디렉터리

2022-09-13  오전 11:37    <DIR>          .
2022-09-13  오전 11:37    <DIR>          ..
2022-09-01  오전 11:25    <DIR>          .idlerc
2022-09-13  오전 08:52    <DIR>          .ipynb_checkpoints
2022-09-01  오전 11:20    <DIR>          .ipython
2022-09-01  오전 11:25    <DIR>          .jupyter
2022-09-01  오후 12:38    <DIR>          .matplotlib
2022-09-05  오후 01:55           322,258 1.ipynb
2022-08-12  오후 02:17    <DIR>          3D Objects
2022-09-08  오후 05:11            70,126 4.ipynb
2022-09-08  오후 12:46            68,664 5.ipynb
2022-09-08  오후 05:48            53,625 6.ipynb
2022-09-13  오전 11:37           119,423 7.ipynb
2022-09-08  오후 12:28               146 a.txt
2022-09-08  오후 02:12    <DIR>          abc
2022-09-08  오후 02:36                16 adc
2022-08-12  오후 02:17    <DIR>          Contacts
2022-08-29  오후 05:41    <DIR>          Desktop
2022-08-25  오후 02:43    <DIR>          Documents
2022-09-08  오후 01:49    <DIR>          Downloads
2022-08-12  오후 02:17    <DIR>          Favorites
2022-08-12  오후 02:17    <DIR>          Links
2022-08-12  오후 02:17    <DIR>          Music
2022-09-08  오전 09:30                70 new.txt
2022-09-07  오전 10:25                80 new1.txt
2022-09-07  오후 04:03                42 new2.txt
2022-09-07  오후 04:08               140 new3.txt
2022-08-12  오후 02:19    <DIR>          OneDrive
2022-09-07  오후 05:48                36 people.txt
2022-08-12  오후 02:19    <DIR>          Pictures
2022-08-12  오후 02:17    <DIR>          Saved Games
2022-08-12  오후 02:19    <DIR>          Searches
2022-09-07  오전 11:53               194 sys,py
2022-09-07  오전 11:56                83 test,py.txt
2022-09-07  오후 04:38                37 test.py
2022-09-07  오후 05:38               181 test.txt
2022-09-07  오후 04:38                37 test1.py
2022-09-08  오후 04:36            84,593 Untitled.ipynb
2022-09-02  오후 06:04           105,972 Untitled1.ipynb
2022-08-24  오후 04:00    <DIR>          Videos
2022-08-23  오전 11:15    <DIR>          WR
2022-09-08  오전 11:49    <DIR>          __pycache__
2022-09-08  오전 09:50               146 구구단.txt
2022-09-13  오전 10:51            10,942 서울지역대학교위치.xlsx
              21개 파일             836,811 바이트
              23개 디렉터리  950,081,249,280 바이트 남음

In [5]:
os,rmdir()

NameError: name 'os' is not defined

In [6]:
pickle() # 객체의 형태를 그대로 유지하면소 파일에 저장하고 불러옴

NameError: name 'pickle' is not defined

In [18]:
df.to_csv("aaaaaa.csv")

In [24]:
df.to_excel("bbbb.xlsx")

In [21]:
import pickle
with open("test.pickle", "wb") as f: # 객체의 형태를 그대로 유지하면소 
    pickle.dump(df, f) #파일에 저장하고 불러옴 dump는 파일 저장

In [23]:
with open("test.pickle", "rb") as f:
    data =pickle.load(f) # laod는 파일 읽어오기 
print(data)

               대학교         위도          경도
0     KAIST 서울캠퍼스   37.592573  127.046737
1            KC대학교  37.548345  126.854797
2     가톨릭대학교(성신교정)  37.585922  127.004328
3     가톨릭대학교(성의교정)  37.499623  127.006065
4         감리교신학대학교  37.567645  126.961610
5            건국대학교  37.540762  127.079343
6     경기대학교 서울캠퍼스   37.300485  127.035833
7     경희대학교 서울캠퍼스   37.596195  127.052544
8            고려대학교  37.590192  127.033184
9            광운대학교  37.619496  127.059696
10           국민대학교  37.609641  126.997697
11         덕성여자대학교  37.651199  127.016160
12           동국대학교  37.557477  127.002052
13         동덕여자대학교  37.606320  127.041808
14    명지대학교 서울캠퍼스   37.580205  126.923445
15           삼육대학교  37.642952  127.105476
16    상명대학교 서울캠퍼스   37.602638  126.955252
17           서강대학교  37.550944  126.941002
18           서경대학교  37.615095  127.013111
19       서울과학기술대학교  37.631668  127.077481
20         서울교육대학교  37.489961  127.016412
21         서울기독대학교  37.600923  126.912382
22           서울대학교  37.459882  126.951905
23         서울시립대학교  37.583866  127.058777
24         서울여자대학교  37.628113  127.090457
25         서울한영대학교  37.496541  126.851262
26          성공회대학교  37.487232  126.825320
27  성균관대학교 서울캠퍼스    37.588227  126.993606
28         성신여자대학교  37.591310  127.022131
29           세종대학교  37.550260  127.073139
30         숙명여자대학교  37.546364  126.964831
31           숭실대학교  37.496311  126.957460
32           연세대학교  37.565784  126.938572
33          육군사관학교  37.623819  127.098878
34         이화여자대학교  37.564308  126.950179
35        장로회신학대학교  37.550511  127.103458
36    중앙대학교 서울캠퍼스   37.505088  126.957101
37           총신대학교  37.488623  126.966817
38         추계예술대학교  37.562452  126.953417
39       한국방송통신대학교  37.578613  127.003291
40         한국성서대학교  37.648749  127.064320
41        한국예술종합학교  37.604997  127.056740
42        한국외국어대학교  37.597319  127.057843
43         한국체육대학교  37.519627  127.130984
44           한성대학교  37.581785  127.010369
45           한양대학교  37.557232  127.045322
46           홍익대학교  37.551464  126.925011

In [170]:
import shutil
shutil.copy("memo.txt", "memo2.txt")

'memo2.txt'

In [172]:
import glob

In [175]:
glob.glob("C:/users/admin*")

['C:/users\\admin']

In [23]:
glob.glob("C:/users/admin/a*") # a로 시작하는 파일 찾기

['C:/users/admin\\a.txt',
 'C:/users/admin\\aaaaaa.csv',
 'C:/users/admin\\abc',
 'C:/users/admin\\adc',
 'C:/users/admin\\AppData',
 'C:/users/admin\\Application Data']

In [24]:
glob.glob("C:/users/admin/*.csv")

['C:/users/admin\\aaaaaa.csv']

In [26]:
import time

In [27]:
time.time() # 70년도 부터 초셈

1663045629.013904

In [28]:
(time.time()/60) #-분으로

27717428.884917412

In [31]:
((((time.time()/60)/60)/24)/30)/12# 분 시간 하루 한달 년

53.467264402974415

In [32]:
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=9, tm_mday=13, tm_hour=14, tm_min=10, tm_sec=9, tm_wday=1, tm_yday=256, tm_isdst=0)

In [33]:
time.localtime(time.time()).tm_year

2022

In [34]:
str f time 시간에서 부터 문자 반환

SyntaxError: invalid syntax (3793909200.py, line 1)

In [36]:
now = time.localtime(time.time())
time.strftime('%x' ,now)

'09/13/22'

In [37]:
now = time.localtime(time.time())
time.strftime('%X' ,now)

'14:14:00'

In [179]:
time.strftime('%x, %X' ,now)

'09/13/22, 14:14:00'

In [183]:
time.strptime('2022-09-13 02:13:13 PM','%Y-%m-%d %I:%M:%S %p') #
#문자를 TIME으로

time.struct_time(tm_year=2022, tm_mon=9, tm_mday=13, tm_hour=14, tm_min=13, tm_sec=13, tm_wday=1, tm_yday=256, tm_isdst=-1)

In [139]:
while True:
    print("Hello")
    time.sleep(1)

Hello
Hello
Hello

KeyboardInterrupt:

In [43]:
import calendar

In [44]:
calendar.calendar(2022)

'                                  2022\n\n      January                   February                   March\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6          1  2  3  4  5  6\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27\n24 25 26 27 28 29 30      28                        28 29 30 31\n31\n\n       April                      May                       June\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n             1  2  3                         1             1  2  3  4  5\n 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12\n11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19\n18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26\n25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30\n                          30 31\n\n        July                     August                  September\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n             1  2  3       1  2  3  4  5  6  7                1  2  3  4\n 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11\n11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18\n18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25\n25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30\n\n      October                   November                  December\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6                1  2  3  4\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25\n24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31\n31\n'

In [45]:
calendar.prmonth(2022, 9)

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [46]:
calendar.weekday(2022, 9, 13 #화요일은 1의 값

1

In [47]:
calendar.weekday(2022, 9, 11)

6

- random

In [37]:
import random

In [54]:
random.randint(1,5)

3

In [55]:
li =[]
for i in range(10):# 10번 반복 
    li.append(random.randint(1,20))
li

[5, 10, 16, 18, 3, 8, 3, 12, 15, 20]

In [46]:
li = []
for _ in range(10):
    a = random.randint(1, 55)
    if a in li: 
        continue# 반복 되는 숫자가 있으면 위로 다시 올라감 
    li.append(a)
li

[51, 31, 7, 16, 32, 10, 12, 23, 54, 38]

In [63]:
random.choice([1,2,3,10])

10

In [64]:
random.choice(range(5))

2

In [67]:
random.random() # 0과 1 사이의 소숫값

0.23111592431394057

In [68]:
np.random.random()

0.5760157177783971

In [71]:
data=[1,3,2]
random.shuffle(data)
data

[1, 3, 2]

In [73]:
import webbrowser

In [74]:
webbrowser.open("www.naver.com")

True

In [75]:
Selenium

NameError: name 'Selenium' is not defined

In [76]:
Thread# 프로세스 안에 작은 프로세스

NameError: name 'Thread' is not defined

In [135]:
import time

def long_task():
    for i in range(5):
        time.sleep(1)

In [140]:
import time

def long_task():
    for i in range(5):
        time.sleep(1)
        print("working: %s" %i) # %s 문자열 안에 변수 넣어줄떄 옆에 변수이름 씀  
print("start") # 문자열 변수 %s자리에 변수인 %i가 들어감

start

In [141]:
long_task()

working: 0
working: 1
working: 2
working: 3
working: 4

In [142]:
import time

def long_task():
    for i in range(5):
        time.sleep(1)
        print("working: %s" %i)
print("start")

start

In [129]:
import time

def long_task():
    for i in range(5):
        time.sleep(1)
        print("working: %s" %i)
print("start")        
        
for i in range(5): # 위의 long task를 5번 실행 
    long_task()
print("End")

start
working: 0
working: 1
working: 2
working: 3
working: 4
working: 0
working: 1
working: 2
working: 3
working: 4
working: 0
working: 1
working: 2
working: 3
working: 4
working: 0
working: 1
working: 2
working: 3

KeyboardInterrupt:

In [128]:
import time
import threading

def long_task():
    for i in range(5):
        time.sleep(1)
        print("working: %s" %i)
print("start")        


threads = [] #스레드 생성
for i in range(5):
    t = threading.Thread(target = long_task) # 스레드 생성한다.
    threads.append(t)
    
for t in threads:
    t.start() #스레드 실행한다. 
    
print("End")

start
End
working 0
working 0
working 0
working 0
working 0
working 1
working 1
working 1
working 1
working 1
working 2
working 2
working 2
working 2
working 2
working 3
working 3
working 3
working 3
working 3
working 4
working 4
working 4
working 4
working 4

In [127]:
import time
import threading
def long_task():
    for i in range(5):
        time.sleep(1)
        print("working: %s" %i)
print("start")        

threads = [] 
for i in range(5):
    t = threading.Thread(target = long_task) # 스레드 생성한다.
    threads.append(t)
    
for t in threads:
    t.start() #스레드 실행한다. 
for t in threads:
    t.join() # 스레드 기다린다. 
    
print("End")

start
working: 0
working: 0
working: 0
working: 0
working: 0
working: 1working: 1
working: 1

working: 1
working: 1
working: 2working: 2
working: 2

working: 2
working: 2
working: 3working: 3
working: 3

working: 3
working: 3
working: 4working: 4
working: 4
working: 4
working: 4

End

In [93]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i} X {j} = {i * j}')
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [92]:
li = []
def GuGu(x):
    for i in range(1,10):
        li.append(x*i)
    print(li)

In [94]:
def GuGu(n):
    li = []
    for i in range(1, 10):
        li.append(n * i)
    return li

GuGu(2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [102]:
sum=0
i=0
for i in range(1,101):
    if i%3 ==0:
        sum += i
    elif i%5 ==0:
         sum += i
print(sum)

2418

In [103]:
i = 0
total = 0
while i < 100:
    i += 1
    if i%3 == 0 or i%5 == 0:
        total += i
        
print(total)

2418

In [114]:
def sum_3_5():
  number = [i for i in range(1,101) if i % 3 == 0 or i % 5 == 0]
  return sum(number)

In [115]:
sum_3_5()

TypeError: 'int' object is not callable

In [112]:
def hap():
    result = [i for i in range(1,100+1) if i % 3 == 0 or i % 5 == 0]
    return sum(result) 
hap()

TypeError: 'int' object is not callable

In [113]:
total = 0
for i in range(1,101):
    if (i % 3 == 0) or (i % 5 == 0):
        total += i
print(total)

2418

In [110]:
result = 0
for i in range(1,101):
    if i % 3 == 0 or i % 5 == 0:
        result += i
print(result)

2418

In [118]:
def getTotalPage(m,n):
     if m % n == 0:
        return m // n # 나머지가 0일때는  몫을 그대로 써줌 
     else:
        return m // n + 1 # 나머지가 0이 아니면 몫에다 1을 더해야함 15페이지를 10으로
    #나누면 몫은 1이니 +1 을 더함

In [119]:
def getTotalPage(m, n):
    total_page = m // n +1  # 몫을 구해서 1더함 
    return total_page

In [120]:
def getTotalPage(m, n):
    pages = m // n + 1
    if m % n == 0:
        pages -= 1
    return pages

In [122]:
import os
os.getcwd()

'C:\\Users\\admin'

In [123]:
import sys

In [124]:
option = sys.argv[1]
memo =sys.argv[2]

print(option)
print(memo)

-f
C:\Users\admin\AppData\Roaming\jupyter\runtime\kernel-80aefb23-0f45-423f-9e5d-ba7949572756.json

In [151]:
import sys
import glob
import os

with open('memo.txt',sys.argv[1][1]) as f:
     f.write(sys.argv[2]+'\n')

ValueError: invalid mode: 'f'

In [150]:
import sys

with open('memo.txt',sys.argv[1][1]) as f:
  f.write(sys.argv[2]+'\n')

ValueError: invalid mode: 'f'

In [153]:
with open("memo.py", 'w')as f:
    f.write("Life is too short\n")
    f.write("You need python")
f.close()

In [154]:
f = open('memo.py', 'w') 처음에 빈파일을 만든다.
f.close()



import sys

option = sys.argv[1]
#memo = sys.argv[2]

if option == '-a':
    memo = sys.argv[2]
    f =open('memo.txt', 'a', encoding = 'utf-8')
    f.write(memo)
    f.write('\n')
    f.close()
    
#python memo.py -a "Life is too short" 옵셥 a는 텍스트 파일을 만들어 준다. 
#python memo.py -a "You need python"  
#argv0은 memo.py이고 argv1은 -a이고 argv2는 라이프~이다. 

elif option == '-v': # 옵션 v는 파일을 읽어준다. 
    f =open('memo.txt', 'r', encoding = 'utf-8')
    memo=f.readlines()
    print(memo)  
    f.close()
    
#print(option)
#print(memo)

SyntaxError: invalid syntax (1759062383.py, line 1)