# 정리

In [ ]:
time.localtime()
a = ["3","5","18","11"] # 이건 이미 문자화 됨 
list(map(lambda a: a+'개' , ["3","5","18","11"])) # 글자 개는 따옴표 

li = []
for _ in range(10):
    a = random.randint(1, 55)
    if a in li: 
        continue# 반복 되는 숫자가 있으면 위로 다시 올라감 
    li.append(a)
li 

li=[]
while len(li) < 10: #리스트 길이를 10 이하 
    a = random.randint(1,55) # 랜덤이니까 i를 안정해줘도 됨
    if a not in li:
        li.append(a)
print(li)        

import random
lst = []
while True:
    lst.append(random.randint(1,55))
    lst = set(lst) # 집합으로 만드는 함수 set 중복을 제외 
    lst = list(lst) # 리스트로 바꿈 
    if len(lst) == 10: 
        break
sorted(lst) 

time.strftime('%x, %X', time.localtime())

time.strftime('%m/%d/%y %H:%M:%S', time.localtime()) 

import os
dirname = "Downloads" # 문서이름 
filenames = os.listdir("Downloads") # 다운로드 문서내 파일보기 
for filename in filenames:
    full_filmame = os.path.join("./" ,filename)# "./"문자열 붙임
    print(full_filmame)
def search(dirname):
    #dirname = "Downloads"
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filname = os.path.join(dirname ,filename)# "./"문자열 붙임
        print(full_filname)    
def search(dirname):
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filename = os.path.join(dirname ,filename)# "./"문자열 붙임
        ext = full_filename[-3:]
        #print(ext)
        if ext == ".py":
            print(full_filename)
text= "Downloads\ChromeSetup.exe"
text[-4:]# 점포함 뒤에서 4개             
def search(dirname):
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filename = os.path.join(dirname ,filename)# 다이렉토리이름과
                               # 다이렉토리내 파일 붙임 
        if os.path.isdir(full_filename): #파일 이름이 디렉토리라면 다시 서치
            search(full_filename)
        else:
            ext = full_filename[-3:] 
            if ext == ".py":
                 print(full_filename)     
[-] # 주민들록 바 표시 지칭 
\d 디지트 숫자 {6} {}는 반복 6번 반복 숫자 6개
{7} 숫자 7개
sub 바꿔라 
메타문자  정규표현식 내에서만 사용 특수문자중 의미를 가짐 
. 한개
^ 부정 낫
$끝
* 전부다
+ 한번이상 반복
? 
{} 반복
[] 
\
| OR
() 그룹화

[abc] 대괄호 안에는 OR로 연결 a가 들어가있는 패턴 찾고 싶다.
      b가 들어가 있는 패턴 찾고싶다. 
    
[a-c] = [abc]/ [0-5] = [012345]
[a-zA-Z] 모든 알파벳 = [a-Z]
[0-9] 모든 숫자 [034] = [0|3|4]
[^0-9] 숫자가 아닌 문자만  ^는 대괄호 안에 있을 때만 NOT 바깥에다가 쓰면 NOT 아님 


\d - 모든숫자 [0-9]
[\d] \이스케이프 알파벳 d 의미
\d - 이거는 모든숫자의미
\D [^0-9]
\s whitespace 공백
\S 공백이 아닌것 [^\t\n\r\f\v]
\w 문자+숫자와 매치[a-Z0-9] 
\W 문자 숫자 아님 
a.b a와b 사이에 딱 한개 들어감 문자든 숫자든 특수문자든 한개만 들어감
[.]메타문자 의미 딱한개의 의미를 잃음 그냥 점임 
* 앞의 문자 반복 0번이상 없어도됨 
ca*t
+한번이상 반복 ca+t 
? 반복이지만 1번이하 반복 
{m,n} {2,5} 2포함 5포함까지 반복 2or 3or4or5 반복

re.sub("blue"  ,"AAA"   ,sentence)#블루라는 패턴찾아서 바꿈
re.sub("b.{3}"  ,"AAA"   ,sentence) # baaa = AAA 점은 딱한개이니 3개 

string =["", "1", "12", "123", "1234", "abc", "la"]
for i in string:
    print(re.sub(r"[0-9]{1}", "A", i)) #r"" 파이썬에서 써줌
    #숫자가 한번 반복 될때 A 로바꿈
string =["", "1", "12", "123", "1234", "abc", "la"]
for i in string:
    print(re.sub(r"[0-9]+", "A", i)) # 힌번이상인것만 A로 바꿈 
    
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"[0-9]?", "A", string), end =",   ")
    #한번 이하 1앞에 야무것도 없는것을 A로 바꿈 abc    
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"[0-9]*", "A", string), end =",   ")
    #없어도 A로 바꿈 0번이상도 A로 바꿈  # *0-9모두 
    
li =["a12o", "abco", "aBo", "a123o"]
for string in li: 
    print(re.sub(r"a[^0-9]{2}o", "#", string), end =",   ")
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("[a]..[o]", "#", string), end =",   ")

In [1]:
객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 함수 
pickle

SyntaxError: invalid syntax (2334237759.py, line 1)

In [51]:
import time

In [50]:
time.localtime()

time.struct_time(tm_year=2022, tm_mon=9, tm_mday=14, tm_hour=9, tm_min=39, tm_sec=20, tm_wday=2, tm_yday=257, tm_isdst=0)

In [225]:
time.strftime('%x', time.localtime())

'09/14/22'

In [6]:
int('0xf1f7', base =16)

61943

In [9]:
a = ["3","5","18","11"] # 이건 이미 문자화 됨 
list(map(lambda a: a+'개' , ["3","5","18","11"])) # 글자 개는 따옴표

['3개', '5개', '18개', '11개']

In [11]:
a = ['3','5','18','11']
print(list(map(str ,a)))

['3', '5', '18', '11']

In [237]:
a = ['3','5','18','11'] # 이건 이미 문자화 됨 
def str_(a):
    return a+'개' # '1개' 는 합쳐서 문자이기에 숫자를 문자처리함 
print(str_('1')) 
list(map(str_, a))

1개

['3개', '5개', '18개', '11개']

In [231]:
a = ['3','5','18','11']
def f(str):
    return str + '개'
list(map(f, a))

['3개', '5개', '18개', '11개']

In [227]:
list(map(str_, a))

TypeError: 'int' object is not iterable

In [16]:
import random
li= []
for i in range(10):
    a = random.randint(1,55)
    if a in li:
        continue
    else:
        li.append(a)
print(li)

[51, 13, 42, 40, 12, 29, 53]

In [17]:
li = []
for _ in range(10):
    a = random.randint(1, 55)
    if a in li: 
        continue# 반복 되는 숫자가 있으면 위로 다시 올라감 
    li.append(a)
li

[9, 50, 44, 33, 15, 32, 54, 4, 26]

In [ ]:
import random
li = []
while len(li) < 10:
    i = random.randint(1,55)
    if i in li: continue
    else:
        li.append(i)
print(li)

In [2]:
import random



sNum = []
i= 1
while i < 10+1 :# 반복 10번 
    a = random.randint(1, 55)
    if a not in sNum :
        sNum.append(a)
        i += 1 # i 는 한번 반복 
    else :
        continue
print(sNum)

[37, 23, 30, 34, 36, 8, 33, 28, 12, 38]

In [ ]:
li =[]
i=0
while i < 10:
    a= random.randint(1, 55)
    i +=1
    if a in li:
        continue
    else:
        li.append(a)
print(li)

In [104]:
li=[]
while len(li) < 10: #리스트 길이를 10 이하 
    a = random.randint(1,55) # 랜덤이니까 i를 안정해줘도 됨
    if a not in li:
        li.append(a)
print(li)

[17, 15, 16, 28, 33, 27, 48, 30, 49, 21]

In [ ]:
i=0
while i <10:
    i+=1 # 0 부터 9까지 임 
    print(i)

In [ ]:
import random
lst = []
while True:
    lst.append(random.randint(1,55))
    lst = set(lst) # 집합으로 만드는 함수 set 중복을 제외 
    lst = list(lst) # 리스트로 바꿈 
    if len(lst) == 10: 
        break
sorted(lst)

In [45]:
sys모듈 중 면령행에서 인수를 전달하는 어떤 변수에 전달 되는가?
sys.argv()
python test.py aaa bbb

Object `되는가` not found.

NameError: name 'sys' is not defined

In [46]:
data=[1,2,3,4,5]
random.shuffle(data)
data

[5, 1, 3, 2, 4]

In [61]:
time.strftime('%x, %X', time.localtime())

'09/14/22, 09:40:28'

In [59]:
time.strftime('%x, %X', time.localtime())

'09/14/22, 09:40:09'

In [62]:
time.strftime('%m/%d/%y %H:%M:%S', time.localtime())

'09/14/22 09:41:01'

In [62]:
time.strftime('%m/%d/%y %H:%M:%S', time.localtime())

'09/14/22 09:41:01'

In [101]:
name = ['Lee', 'Park', 'Jeon', 'Choi']

age = [19, 22, 16, 31]

job = ['student', 'teacher', 'student', 'artist'] 

li =[]
for i, j, k in zip(name, age, job):
    li.append([i, j, k])
print(li)

[['Lee', 19, 'student'], ['Park', 22, 'teacher'], ['Jeon', 16, 'student'], ['Choi', 31, 'artist']]

In [102]:
info = list(zip(name, age, job))

In [103]:
info

[('Lee', 19, 'student'),
 ('Park', 22, 'teacher'),
 ('Jeon', 16, 'student'),
 ('Choi', 31, 'artist')]

In [69]:
import pandas as pd

In [71]:
df1=pd.read_csv("김밥천국메뉴.csv")

In [72]:
df1

        메뉴    가격  종류
0     야채김밥  2000  김밥
1     치즈김밥  2500  김밥
2    소고기김밥  3000  김밥
3     된장찌개  5000  찌개
4    순두부찌개  5500  찌개
5   뚝배기불고기  6000  덮밥
6     카레덮밥  5000  덮밥
7     제육덮밥  6000  덮밥
8       라면  3000  분식
9       떡국  4500  분식
10     돈가스  6000  분식

In [114]:
sum=0
count=0
for i,j,k in zip(df1.메뉴, df1.가격, df1.종류):
    if j >= 5000:
        print(i)
    
    if k == '김밥':
         sum += j
         count +=1
print(f'김밥가격 평균은 {sum/count}원입니다.')

된장찌개
순두부찌개
뚝배기불고기
카레덮밥
제육덮밥
돈가스
김밥가격 평균은 2500.0원입니다.

In [118]:
sum=0

for menu,price,kind in zip(df1.메뉴, df1.가격, df1.종류):
    if price >= 5000:
        print(i)
    
    if kind == '김밥':
        sum += price
np.mean(sum) # 이거 안먹음

돈가스
돈가스
돈가스
돈가스
돈가스
돈가스

7500.0

In [76]:
df[df['가격']>=5000] 
df[df['종류'] == '김밥'].mean() 
df[df['종류'] == '김밥']['가격'].mean() 
df[df['가격']>=5000]['메뉴']

NameError: name 'df' is not defined

In [79]:
df1.가격 > 5000

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7      True
8     False
9     False
10     True
Name: 가격, dtype: bool

In [80]:
df1[df1.가격 > 5000]

        메뉴    가격  종류
4    순두부찌개  5500  찌개
5   뚝배기불고기  6000  덮밥
7     제육덮밥  6000  덮밥
10     돈가스  6000  분식

In [81]:
df1[df1.가격 > 5000].메뉴

4      순두부찌개
5     뚝배기불고기
7       제육덮밥
10       돈가스
Name: 메뉴, dtype: object

In [84]:
df1[df1.종류 == '김밥']

      메뉴    가격  종류
0   야채김밥  2000  김밥
1   치즈김밥  2500  김밥
2  소고기김밥  3000  김밥

In [87]:
np.mean(df1[df1.종류 == '김밥'])

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

가격    2500.0
dtype: float64

In [86]:
import numpy as np

In [120]:
f = open('tabto4.py', 'w')
f.close()

In [4]:
import os

In [5]:
os.listdir("./Downloads/") # ./는 현재 작업디렉토리

['.RData',
 '.Rhistory',
 'a.R',
 'ChromeSetup.exe',
 'data-visualization (1).pdf',
 'data-visualization.pdf',
 'desktop.ini',
 'FoxitReader706.1126_enu_Setup.exe',
 'HTTOnline.exe',
 'java (1).zip',
 'java (2).zip',
 'java.zip',
 'KakaoTalk_Setup.exe',
 'KDT8 OT영상.mp4',
 'python-3.10.6-amd64 (1).exe',
 'python-3.10.6-amd64.exe',
 'R-4.2.1-win.exe',
 'RStudio-2022.07.1-554.exe',
 'sumatra-pdf-3-4-6 (1).exe',
 'sumatra-pdf-3-4-6 (2).exe',
 'sumatra-pdf-3-4-6.exe',
 'TouchEn_nxKey_32bit.exe',
 '확인되지 않음 686852.crdownload']

In [6]:
os.listdir("Downloads")

['.RData',
 '.Rhistory',
 'a.R',
 'ChromeSetup.exe',
 'data-visualization (1).pdf',
 'data-visualization.pdf',
 'desktop.ini',
 'FoxitReader706.1126_enu_Setup.exe',
 'HTTOnline.exe',
 'java (1).zip',
 'java (2).zip',
 'java.zip',
 'KakaoTalk_Setup.exe',
 'KDT8 OT영상.mp4',
 'python-3.10.6-amd64 (1).exe',
 'python-3.10.6-amd64.exe',
 'R-4.2.1-win.exe',
 'RStudio-2022.07.1-554.exe',
 'sumatra-pdf-3-4-6 (1).exe',
 'sumatra-pdf-3-4-6 (2).exe',
 'sumatra-pdf-3-4-6.exe',
 'TouchEn_nxKey_32bit.exe',
 '확인되지 않음 686852.crdownload']

In [140]:
dirname = "Downloads"
os.listdir(dirname)

['.RData',
 '.Rhistory',
 'a.R',
 'ChromeSetup.exe',
 'data-visualization (1).pdf',
 'data-visualization.pdf',
 'desktop.ini',
 'FoxitReader706.1126_enu_Setup.exe',
 'HTTOnline.exe',
 'java (1).zip',
 'java (2).zip',
 'java.zip',
 'KakaoTalk_Setup.exe',
 'KDT8 OT영상.mp4',
 'python-3.10.6-amd64 (1).exe',
 'python-3.10.6-amd64.exe',
 'R-4.2.1-win.exe',
 'RStudio-2022.07.1-554.exe',
 'sumatra-pdf-3-4-6 (1).exe',
 'sumatra-pdf-3-4-6 (2).exe',
 'sumatra-pdf-3-4-6.exe',
 'TouchEn_nxKey_32bit.exe',
 '확인되지 않음 686852.crdownload']

In [139]:
os.listdir(dirname)

['.RData',
 '.Rhistory',
 'a.R',
 'ChromeSetup.exe',
 'data-visualization (1).pdf',
 'data-visualization.pdf',
 'desktop.ini',
 'FoxitReader706.1126_enu_Setup.exe',
 'HTTOnline.exe',
 'java (1).zip',
 'java (2).zip',
 'java.zip',
 'KakaoTalk_Setup.exe',
 'KDT8 OT영상.mp4',
 'python-3.10.6-amd64 (1).exe',
 'python-3.10.6-amd64.exe',
 'R-4.2.1-win.exe',
 'RStudio-2022.07.1-554.exe',
 'sumatra-pdf-3-4-6 (1).exe',
 'sumatra-pdf-3-4-6 (2).exe',
 'sumatra-pdf-3-4-6.exe',
 'TouchEn_nxKey_32bit.exe',
 '확인되지 않음 686852.crdownload']

In [130]:
filenames = os.listdir(dirname)

In [172]:
import os
dirname = "Downloads" # 문서이름 
filenames = os.listdir("Downloads") # 다운로드 문서내 파일보기 
for filename in filenames:
    full_filmame = os.path.join("./" ,filename)# "./"문자열 붙임
    print(full_filmame)

./.RData
./.Rhistory
./a.R
./ChromeSetup.exe
./data-visualization (1).pdf
./data-visualization.pdf
./desktop.ini
./FoxitReader706.1126_enu_Setup.exe
./HTTOnline.exe
./java (1).zip
./java (2).zip
./java.zip
./KakaoTalk_Setup.exe
./KDT8 OT영상.mp4
./python-3.10.6-amd64 (1).exe
./python-3.10.6-amd64.exe
./R-4.2.1-win.exe
./RStudio-2022.07.1-554.exe
./sumatra-pdf-3-4-6 (1).exe
./sumatra-pdf-3-4-6 (2).exe
./sumatra-pdf-3-4-6.exe
./TouchEn_nxKey_32bit.exe
./확인되지 않음 686852.crdownload

In [173]:
dirname = "Downloads"
filenames = os.listdir("Downloads")
for filename in filenames:
    full_filmame = os.path.join(dirname ,filename)# "./"문자열 붙임
    print(full_filmame)

Downloads\.RData
Downloads\.Rhistory
Downloads\a.R
Downloads\ChromeSetup.exe
Downloads\data-visualization (1).pdf
Downloads\data-visualization.pdf
Downloads\desktop.ini
Downloads\FoxitReader706.1126_enu_Setup.exe
Downloads\HTTOnline.exe
Downloads\java (1).zip
Downloads\java (2).zip
Downloads\java.zip
Downloads\KakaoTalk_Setup.exe
Downloads\KDT8 OT영상.mp4
Downloads\python-3.10.6-amd64 (1).exe
Downloads\python-3.10.6-amd64.exe
Downloads\R-4.2.1-win.exe
Downloads\RStudio-2022.07.1-554.exe
Downloads\sumatra-pdf-3-4-6 (1).exe
Downloads\sumatra-pdf-3-4-6 (2).exe
Downloads\sumatra-pdf-3-4-6.exe
Downloads\TouchEn_nxKey_32bit.exe
Downloads\확인되지 않음 686852.crdownload

In [9]:
def search(dirname):
    #dirname = "Downloads"
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filname = os.path.join(dirname ,filename)# "./"문자열 붙임
        print(full_filname)

In [10]:
search("Downloads")

Downloads\.RData
Downloads\.Rhistory
Downloads\a.R
Downloads\ChromeSetup.exe
Downloads\data-visualization (1).pdf
Downloads\data-visualization.pdf
Downloads\desktop.ini
Downloads\FoxitReader706.1126_enu_Setup.exe
Downloads\HTTOnline.exe
Downloads\java (1).zip
Downloads\java (2).zip
Downloads\java.zip
Downloads\KakaoTalk_Setup.exe
Downloads\KDT8 OT영상.mp4
Downloads\python-3.10.6-amd64 (1).exe
Downloads\python-3.10.6-amd64.exe
Downloads\R-4.2.1-win.exe
Downloads\RStudio-2022.07.1-554.exe
Downloads\sumatra-pdf-3-4-6 (1).exe
Downloads\sumatra-pdf-3-4-6 (2).exe
Downloads\sumatra-pdf-3-4-6.exe
Downloads\TouchEn_nxKey_32bit.exe
Downloads\확인되지 않음 686852.crdownload

In [194]:
full_filmame = os.path.join(dirname ,filename)

In [197]:
def search(dirname):
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filename = os.path.join(dirname ,filename)# "./"문자열 붙임
        ext = full_filename[-3:]
        #print(ext)
        if ext == ".py":
            print(full_filename)

In [199]:
def search(dirname):
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filename = os.path.join(dirname ,filename)# 다이렉토리이름과
        ext = full_filename[-4:]                        # 다이렉토리내 파일 붙임 
        #print(ext)
        if ext == ".exe":
            print(full_filename)

In [200]:
search("Downloads")

Downloads\ChromeSetup.exe
Downloads\FoxitReader706.1126_enu_Setup.exe
Downloads\HTTOnline.exe
Downloads\KakaoTalk_Setup.exe
Downloads\python-3.10.6-amd64 (1).exe
Downloads\python-3.10.6-amd64.exe
Downloads\R-4.2.1-win.exe
Downloads\RStudio-2022.07.1-554.exe
Downloads\sumatra-pdf-3-4-6 (1).exe
Downloads\sumatra-pdf-3-4-6 (2).exe
Downloads\sumatra-pdf-3-4-6.exe
Downloads\TouchEn_nxKey_32bit.exe

In [177]:
os.path.splitext("Downloads\ChromeSetup.exe") # 점 기준으로 자름

('Downloads\\ChromeSetup', '.exe')

In [160]:
text= "Downloads\ChromeSetup.exe"
text[-4:]# 점포함 뒤에서 4개

'.exe'

In [ ]:
ext= full_filenames
text[-3:]# 점포함 뒤에서 4개

In [211]:
def search(dirname):
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filename = os.path.join(dirname ,filename)# 다이렉토리이름과
                               # 다이렉토리내 파일 붙임 
        if os.path.isdir(full_filename): #파일 이름이 디렉토리라면 다시 서치
            search(full_filename)
        else:
            ext = full_filename[-3:] 
            if ext == ".py":
                 print(full_filename)

In [212]:
search("C:/Users/admin")

C:/Users/admin\.ipynb_checkpoints\memo-checkpoint.py
C:/Users/admin\.ipynb_checkpoints\mod1-checkpoint.py
C:/Users/admin\.ipynb_checkpoints\mod2-checkpoint.py
C:/Users/admin\.ipynb_checkpoints\tabto4-checkpoint.py
C:/Users/admin\.ipynb_checkpoints\test-checkpoint.py
C:/Users/admin\abc\a\.ipynb_checkpoints\mod1-checkpoint.py
C:/Users/admin\abc\a\.ipynb_checkpoints\mod2-checkpoint.py
C:/Users/admin\abc\a\mod1.py
C:/Users/admin\abc\a\mod2.py
C:/Users/admin\abc\b\.ipynb_checkpoints\mod3-checkpoint.py
C:/Users/admin\abc\b\mod3.py
C:/Users/admin\abc\b\mod4.py
C:/Users/admin\abc\c\mod5.py
C:/Users/admin\abc\c\mod6.py

PermissionError: [WinError 5] 액세스가 거부되었습니다: 'C:/Users/admin\\AppData\\Local\\Application Data'

In [206]:
filenames = os.listdir("Downloads")
filenames

['.RData',
 '.Rhistory',
 'a.R',
 'ChromeSetup.exe',
 'data-visualization (1).pdf',
 'data-visualization.pdf',
 'desktop.ini',
 'FoxitReader706.1126_enu_Setup.exe',
 'HTTOnline.exe',
 'java (1).zip',
 'java (2).zip',
 'java.zip',
 'KakaoTalk_Setup.exe',
 'KDT8 OT영상.mp4',
 'python-3.10.6-amd64 (1).exe',
 'python-3.10.6-amd64.exe',
 'R-4.2.1-win.exe',
 'RStudio-2022.07.1-554.exe',
 'sumatra-pdf-3-4-6 (1).exe',
 'sumatra-pdf-3-4-6 (2).exe',
 'sumatra-pdf-3-4-6.exe',
 'TouchEn_nxKey_32bit.exe',
 '확인되지 않음 686852.crdownload']

In [203]:
os.path.isdir('C:\\Users\\admin') # 디렉토리면 true

True

In [216]:
os.path.isdir(full_filename)

NameError: name 'full_filename' is not defined

In [202]:
os.getcwd()

'C:\\Users\\admin'

In [213]:
def search(dirname):
    try: 
        filenames = os.listdir(dirname)
        for filename in filenames:
            full_filename = os.path.join(dirname ,filename)# 다이렉토리이름과
                                   # 다이렉토리내 파일 붙임 
            if os.path.isdir(full_filename): # 디렉토리내 파일 이름이 디렉토리라면 다시 서치
                search(full_filename) # 이게 is이다 디렉토리 검색 모든 파일 이름과 
            else:
                ext = full_filename[-3:] 
                if ext == ".py":
                     print(full_filename)
    except:
        pass

In [217]:
search("C:/Users/admin").

SyntaxError: invalid syntax (3334482248.py, line 1)

In [218]:
정규 표현식 
Regular Expression

SyntaxError: invalid syntax (2771415926.py, line 1)

In [221]:
[-] # 주민들록 바 표시 지칭 
\d 디지트 숫자 {6} {}는 반복 6번 반복 숫자 6개
{7} 숫자 7개
sub 바꿔라 
메타문자  정규표현식 내에서만 사용 특수문자중 의미를 가짐 
. 한개
^ 부정 낫
$끝
* 전부다
+ 한번이상 반복
? 
{} 반복
[] 
\
| OR
() 그룹화

SyntaxError: invalid syntax (1736650197.py, line 1)

In [223]:
[abc] 대괄호 안에는 OR로 연결 a가 들어가있는 패턴 찾고 싶다.
      b가 들어가 있는 패턴 찾고싶다.

SyntaxError: invalid syntax (522518694.py, line 1)

In [224]:
[a-c] = [abc]/ [0-5] = [012345]
[a-zA-Z] 모든 알파벳 = [a-Z]
[0-9] 모든 숫자 [034] = [0|3|4]
[^0-9] 숫자가 아닌 문자만  ^는 대괄호 안에 있을 때만 NOT 바깥에다가 쓰면 NOT 아님

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3949089521.py, line 1)

In [12]:
\d - 모든숫자 [0-9]
[\d] \이스케이프 알파벳 d 의미
\d - 이거는 모든숫자의미
\D [^0-9]
\s whitespace 공백
\S 공백이 아닌것 [^\t\n\r\f\v]
\w 문자+숫자와 매치[a-Z0-9] 
\W 문자 숫자 아님 
a.b a와b 사이에 딱 한개 들어감 문자든 숫자든 특수문자든 한개만 들어감
[.]메타문자 의미 딱한개의 의미를 잃음 그냥 점임 
* 앞의 문자 반복 0번이상 없어도됨 
ca*t
+한번이상 반복 ca+t 
? 반복이지만 1번이하 반복 
{m,n} {2,5} 2포함 5포함까지 반복 2or 3or4or5 반복

SyntaxError: unexpected character after line continuation character (1240777734.py, line 1)

In [13]:
sentence ="blue socks and red shoes"

In [14]:
import re

In [15]:
re.sub("blue"  ,"AAA"   ,sentence)#블루라는 패턴찾아서 바꿈

'AAA socks and red shoes'

In [16]:
result=re.sub("blue"  ,"AAA"   ,sentence)#블루라는 패턴찾아서 바꿈

In [17]:
result = re.sub("red", "AAA", result)

In [18]:
result

'AAA socks and AAA shoes'

In [107]:
re.sub("blue|red"  ,"AAA"   ,sentence) # or 은 둘중하나만
    #and면 블루이면서 레드여야 성립 / or은 블루거나 레드면 참

'AAA socks and AAA shoes'

In [22]:
re.sub("b.{3}"  ,"AAA"   ,sentence) # baaa = AAA 점은 딱한개이니 3개

'AAA socks and red shoes'

In [108]:
A\w+ 대문자 시작 문자 한+번 이상 반복

SyntaxError: unexpected character after line continuation character (3406522895.py, line 1)

In [109]:
b[.]{3}

SyntaxError: invalid syntax (3658797758.py, line 1)

In [24]:
string =["", "1", "12", "123", "1234", "abc", "la"]
for i in string:
    print(i)

1
12
123
1234
abc
la

In [30]:
string =["", "1", "12", "123", "1234", "abc", "la"]
for i in string:
    print(re.sub(r"[0-9]{1}", "A", i)) #r"" 파이썬에서 써줌
    #숫자가 한번 반복 될때 A 로바꿈

A
AA
AAA
AAAA
abc
la

In [31]:
string =["", "1", "12", "123", "1234", "abc", "la"]
for i in string:
    print(re.sub(r"[0-9]{4}", "A", i))# 숫자가 4개 있어야 반복

1
12
123
A
abc
la

In [32]:
string =["", "1", "12", "123", "1234", "abc", "la"]
for i in string:
    print(re.sub(r"[0-9]+", "A", i)) # 힌번이상인것만 A로 바꿈

A
A
A
A
abc
la

In [34]:
string =["", "1", "12", "123", "1234", "abc", "la"]
for i in string:
    print(re.sub(r"[0-9]?", "A", i)) # 각각을 한번이하로 침

A
AA
AAA
AAAA
AAAAA
AaAbAcA
AlAaA

In [36]:
li =["", "1", "12", "123", "1234", "abc", "la"]
for i in li:
    print(re.sub(r"[0-9]", "A", i), end =",   ")

,   A,   AA,   AAA,   AAAA,   abc,   la,

In [40]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: # 문자열 안에 한녀석이 스트링 뽑아옴 
    print(re.sub(r"[0-9]", "A", string), end =",   ")# str문자열 # end 뒤에  , 하고 뜀
 # 한개의 숫자 한개를 A로

,   A,   AA,   AAA,   AAAA,   abc,   Aa,

In [115]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: # 문자열 안에 한녀석이 스트링 뽑아옴 
    print(re.sub(r"[0-9]+", "A", string), end =",   ")# str문자열 # end 뒤에  , 하고 뜀
 # 한개의 숫자 한개를 A로

,   A,   A,   A,   A,   abc,   Aa,

In [123]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"[0-9]?", "A", string), end =",   ")
    #한번 이하 1앞에 야무것도 없는것을 A로 바꿈 abc

A,   AA,   AAA,   AAAA,   AAAAA,   AaAbAcA,   AAaA,

In [125]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"[0-9]{1}", "A",string), end =",   ")
    #한번 이하 1앞에 야무것도 없는것을 A로 바꿈 abc

,   A,   AA,   AAA,   AAAA,   abc,   Aa,

In [126]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"[0-9]{0}", "A", string), end =",   ")
    #한번 이하 1앞에 야무것도 없는것을 A로 바꿈 abc

A,   A1A,   A1A2A,   A1A2A3A,   A1A2A3A4A,   AaAbAcA,   A1AaA,

In [114]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"[0-9]*", "A", string), end =",   ")
    #없어도 A로 바꿈 0번이상도 A로 바꿈  # *0-9모두

A,   AA,   AA,   AA,   AA,   AaAbAcA,   AAaA,

In [43]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"[^0-9]", "A", string), end =",   ")

,   1,   12,   123,   1234,   AAA,   1A,

In [44]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"^[0-9]", "A", string), end =",   ")
    #시작이 숫자면 A로 바꿈

,   A,   A2,   A23,   A234,   abc,   Aa,

In [45]:
li =["", "1", "12", "123", "1234", "abc", "1a"]
for string in li: 
    print(re.sub(r"[0-9]$", "A", string), end =",   ")
    #끝이 숫자면 A

,   A,   1A,   12A,   123A,   abc,   1a,

```
a 로 시작하고 o로 끝나는 사이에 2개 문자가 있는 경우
```

In [49]:
li =["a12o", "abco", "aBo", "a123o"]
for string in li: 
    print(re.sub(r"a[^0-9]{2}o", "#", string), end =",   ")

a12o,   #,   aBo,   a123o,

In [50]:
li =["a12o", "abco", "aBo", "a123o"]
for string in li: 
    print(re.sub(r"^[a].{2}[o]$ ", "#", string), end =",   ")

a12o,   abco,   aBo,   a123o,

In [54]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("a..o", "#", string), end =",   ")

#,   #,   aBo,   a123o,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [53]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("[a]..[o]", "#", string), end =",   ")

#,   #,   aBo,   a123o,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [55]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("a.{2}o", "#", string), end =",   ")

#,   #,   aBo,   a123o,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [57]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("^a.{2}o$", "#", string), end =",   ")
    #시작이 a 끝이 o인데 그사이에 뭔가가 2개 들어감

#,   #,   aBo,   a123o,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [58]:
# 알파펫 대문자로 시작하고 숫자로 끝나나는 경우

In [66]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("^[A-Z]\w\d$", "#", string), end =",   ")

a12o,   abco,   aBo,   a123o,   kbs,   123kbs,   KBS,   #,   abcKBS123,

In [62]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("^[A-Z]\S[0-9]$", "#", string), end =",   ")

a12o,   abco,   aBo,   a123o,   kbs,   123kbs,   KBS,   #,   abcKBS123,

In [64]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("^[A-Z].*[0-9]$", "#", string), end =",   ")
    #점이 있어도 없어도 여러개도 됨

a12o,   abco,   aBo,   a123o,   kbs,   123kbs,   KBS,   #,   abcKBS123,

In [67]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("^[A-Z].+[0-9]$", "#", string), end =",   ")

a12o,   abco,   aBo,   a123o,   kbs,   123kbs,   KBS,   #,   abcKBS123,

In [68]:
#123 을 찾아서 바꾸기

In [112]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("(123)+", "#", string), end =",   ")
    #123이 한개이상

a12o,   abco,   aBo,   a#o,   kbs,   #kbs,   KBS,   KB3,   abcKBS#,

In [111]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("123", "#", string), end =",   ")

a12o,   abco,   aBo,   a#o,   kbs,   #kbs,   KBS,   KB3,   abcKBS#,

In [73]:
# 문자 중간에 123인것 찾아라

In [78]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("\S(123)+\S", "#", string), end =",   ")

a12o,   abco,   aBo,   #,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [82]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub(".+123.+", "#", string), end =",   ")

a12o,   abco,   aBo,   #,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [83]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub(".+123.+", "#", string), end =",   ")

a12o,   abco,   aBo,   #,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [84]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("\w(123)+\w", "#", string), end =",   ")

a12o,   abco,   aBo,   #,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [85]:
li =["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li: 
    print(re.sub("\S+123\S+", "#", string), end =",   ")

a12o,   abco,   aBo,   #,   kbs,   123kbs,   KBS,   KB3,   abcKBS123,

In [95]:
string = "park 800905-1049118 Kim 700905-1059119" 

for i in string:
    print(re.sub("^1.+", *, i), end =",   ") # 리스트가 아니라서 안함

SyntaxError: iterable argument unpacking follows keyword argument unpacking (1972044206.py, line 4)

In [96]:
string = "park 800905-1049118 Kim 700905-1059119" 
re.sub(r'\d{7}','*******',string)

'park 800905-******* Kim 700905-*******'

In [97]:
string = "park 800905-1049118 Kim 700905-1059119" 
re.sub(r'1.{6}','*******',string)

'park 800905-******* Kim 700905-*******'

In [98]:
string = "park 800905-1049118 Kim 700905-1059119" 
re.sub(r'-\d{7}','-*******',string) 
# 메타문자 -는 없기에 바뒤에 숫자 7개 바뀜

'park 800905-******* Kim 700905-*******'

In [100]:
print(re.sub( "-\S+", "-*******", string))  # 바뒤에 모든것 바꿈

park 800905-******* Kim 700905-*******